
/* Sección Entretenimiento */
 
.fondoEntretenimiento{
 
    background-color: #1a854abd;
 
    background-image: url(../multimedia/redes.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
 
}
 
.entretenimiento{
 
    text-align: center;
    font-style: italic;
    font-size: 40px;
 
 
 
}
 
.entretenimiento__texto{
 
    font-size: 20px;
    text-align: left;
 
 
}
 