
/* Sección Internacinoal */
 
.fondoInternacional{
 
    background-color: #17c289bd;
}
 
#seccionInternacional{
    text-align: center;
    font-style: italic;
    font-size: 40px;
 
 
}
 
.parrafoDiferente{
 
    text-align: left;
 
 
}