/* Sección POLÍTICA */

.col-12.af{

    margin: 10px;
    padding-bottom: 15px;
}

.col-12.aff{

    margin: 20px;
    padding-bottom: 15px;

}


.col-6.viid{
 
    padding-bottom: 10px;

}

.seccionPolitica{
 
    text-align: center;
    font-style: italic;
    font-size: 40px;
 

}
 



